<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>JAMZ - Inicio</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="public/css/base.css">
    <link rel="stylesheet" href="public/css/index.css">
    <script src="public/js/index.js"></script>
    <script src="https://kit.fontawesome.com/7f4f5e3479.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header">
        <h1 class="title">
            Empresa Logo
        </h1>
        <nav class="navbar">
            <ul class="list">
                <li class="item"><a href="/about" class="link">Acerca de</a></li>
                <li class="item"><a href="/register" class="link">Registrarme</a></li>
                <li class="item"><a href="/login" class="link">Iniciar sesión</a></li>
            </ul>
        </nav>
    </header>
    <section class="section" id="info">
        <h2 class="section-title">¡Bienvenido!</h2>
        <p class="text">
            Esta es mi primera vez, utilizando express el cual estoy aprendiendo a como utilizarlo para crear
            aplicaciones web.
            Además tambien tengo planeado hacer un CRUD aquí mismo, utilizando MySQL como base de datos, para así poner
            en
            practica mis conocimientos de consultas sql.</p>
        </p>
        <p class="text">
            La ruta principal la utilizare para probar algunos aspectos que me llaman la atención del dessarrollo
            frontend. Cabe destacar que los elementos en la barra de navegación, serán rutas que tienen un propósito
            real, es aquí dondé llevare a cabo mi proyecto de CRUD en node js
        </p>
    </section>
    <h2 class="section-title"> Prueba de grid </h2>
    <section class="section" id="grid-test">
    </section>
</body>

</html>